@tailwind base;
@tailwind components;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  
}
@tailwind utilities;

html,body {
  height: 100vh;
  width: 100%;
}
#root {
  height: 100%;
}
.new-height {
  height: calc(100vh - 4.5rem);
}
.min-new-height {
  min-height: calc(100vh - 4.5rem);
}

html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
}
textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
}
